html {
  box-sizing: border-box;
  font-size: 10px;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  font-family: 'Amatic SC', cursive;
  background-image: linear-gradient(to bottom right, hsl(60, 100%, 50%) , hsl(60, 100%, 90%));
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: hsl(48, 100%, 50%);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

#control{
  width: 20%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.buttons{
  min-width: 120px;
  margin: 10px;
  padding: 10px;
  font-family: 'Unkempt', cursive;
  font-size: 30px;
  border-radius: 25%;
  border: 2px solid yellow;
}

.buttons:focus{
    outline: 0px;
  }
.buttons:active{
    opacity: 0.7;
    border: 2px solid hsl(0, 100%, 40%);
  }

#start{
  background-color: green;
  color: white;
}
#reset{
  background-color: hsl(24, 100%, 50%);
  color: white;
}

#timer{
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  width: 20%;
  min-width: 200px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: yellow;
  border: 1px solid red;
}

#footer{
  font-size: 18px;
  font-family: Arial;
  width: 60%;
  margin: 5px auto;
  text-align: center;
}